@charset "utf-8";

html {
    font-size: 62.5%; 
    /* background-color: #f5f5f5; */
}
p {
    font-size: 1.6rem;
}
a {
    font-size: 2.2rem;
}
p,body {
    margin: 0;
    padding: 0;
}
element,style {
    width: 80%;
}
section {
    width: 100%;
    box-sizing: border-box;
    margin: 7vh auto;
    padding: 0 7vw;  
}
.section_tittle {
    font-size: 2.5rem;
    border-bottom: solid 5px gray;
    float: left;
    letter-spacing: 3px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-bottom: 3vh;
    color: #494949;
}
.tittle,#Design span,#Event span{
    font-size: 1.8rem;
    float: left;
    letter-spacing: 3px;
    font-weight: bold;
    width: 100%;
    padding: 0.25em 0.5em;/*上下 左右の余白*/
    color: #494949;/*文字色*/
    background: transparent;/*背景透明に*/
    border-left: solid 5px #7db4e6;/*左線*/
}


/* header */
header {
    width: 100%;
    height: 70px;
    top:2vh;
    right: 0;
    left: 0;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 0 9vw 0 9vw; 
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
ul {
    display: flex;
    flex-direction: row;
    gap: 2.7vw;
    list-style: none;
}
li a {
    color: #494949;
    text-transform: uppercase;
    text-decoration: none;
}

/* section about */
#about {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 4%;
}
#skill,#qualification {
    margin-top: 2vh;
}
#about img,#skill {
    width: 46%;
    height: auto; 
}
#introduce,#qualification {
    width: 50%;
    height: auto;
}


/* about img */
#about img {
    border-radius: 20px;
    box-sizing: border-box;
}

/* #introduce */
#name {
    font-size: 30px;
    line-height:30px;
}
#hurigana {
    font-size: 20px;
    line-height:40px;
}
#Affiliation {
    font-size: 18px;
    line-height:40px;
}
#introduce div,#introduce_text {
    line-height:30px;
}
#introduce div {
    font-size: 18px;
    margin-top: 30px;
}
#introduce_text {
    font-size: 18px;
}



/* #skill */
#skill {
    display: flex;
    flex-direction: column;
}
#skillwrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.skillbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container{
    background-color: gray;
    width: 70%;
    height: 18px;
    border-radius: 100px;
}
.container div {
    background-color: #7db4e6;
    height: 18px;
    border-radius: 100px;
}
#HTML {
    width: 80%;
}
#CSS {
    width: 75%;
}
#JavaScript {
    width: 40%;
}
#PHP {
    width: 30%;
}
#Python {
    width: 40%;
}
#Illustrator {
    width: 70%;
}


/* qualification */
#qualification {
    display: flex;
    flex-direction: column;
}
#qualificationwrap {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.siken {
margin-top: 10px;
}


/* works */
#works {
    display: flex;
    flex-direction: column;
}
#Design,#Event {
    display: flex;
    flex-direction: column;
}
#Event span {
    margin-top: 50px;
}
.works_wrap {
    margin-top: 20px;
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px 5px;
    justify-items: center;
    align-items: center; 
}
.works_img {
    width:300px;
    height:300px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 0.5px black;
}
.modaal-tittle {
    text-align: center;
    margin-top: 10px;
    font-size: 1.8rem;
}


/* modaal */
.works_tittle {
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 3px;
    font-weight: bold;
}
.info_wrap {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: auto;
    margin-left: 5%;
}
.info_wrap p {
    font-size: 1vw;
}
.works_info {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
}
.works_info_img {
    width: 50%;
    height: auto;
}
.post,.incharge {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.incharge{
    margin-top: 10px;
}
.text {
    margin-top: 20px;
    line-height: 30px;
}

/* modaal 設定 */
    /*infoエリアをはじめは非表示*/
    .info section{
        display: none;
    }
    /*モーダルの横幅を変更したい場合*/
    .modaal-container {
        max-width:80vw;
        height: 75vh;
        background-color: #ccc;
    }
    /*モーダルのボタンの色を変更したい場合*/
    .modaal-close:after, 
    .modaal-close:before{
        background-color:#ccc;	
    }
    .modaal-close:focus:after,
    .modaal-close:focus:before,
    .modaal-close:hover:after,
    .modaal-close:hover:before{
        background-color:#666;
    }


/* contact */

#contact_wrap {
    line-height: 30px;
}
/* footer */
footer {
    text-align: center;
}






